.logo {
    display: block;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: $title-color;
@media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
}
@media screen and (min-width: 1200px) {
    margin-right: 93px;
}
}
    
.logo-item {
        color: $accent-color;
}








