.advantage-list {
    @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
}
}
.advantage-list-item {
@media screen and (min-width: 480px) {
     &:not(:last-child) {
        margin-bottom: 30px;  
      }

    }
@media screen and (min-width: 768px) {
    width: calc((100% - 30px)/2);

    &:nth-child(2n+1) {
    margin-right: 30px; 
    }
}
 @media screen and (min-width: 1200px) {
    width: calc((100% - 30px*3)/4);

    &:not(:last-child) {
      margin-right: 30px;  
    }
}
}
.advantage-list-icon {
    width: 70px;
    height: 70px;
}
.advantage-icon-block {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background: #F5F4FA;

@media screen and (min-width: 480px) {
    padding-right: 190px;
    padding-left: 190px;
}
@media screen and (min-width: 768px){
    padding-right: 142px;
    padding-left: 142px;
}
@media screen and (min-width: 1200px){
    padding-right: 100px;
    padding-left: 100px;
}
}
.advantage-list-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-color;

@media screen and (max-width: 767px) {
    text-align: center;
  }
}
.advantage-list-text {
    font-size: 14px;
    line-height: 1.71;
}

