.team {
    background-color: #F5F4FA;
}
.social-list {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}
.social-list-item:not(:last-child) {
    margin-right: 10px;
}
.social-list-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link {
    @extend %social-links;

    &:hover,
    &:focus {
        width: 44px;
        height: 44px;
        border-radius: 50%; 
        color: $accent-color;
        background-color: $accent-color;  
        text-align: center;
        padding: 12px;  
    }
} 

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: $secondary-color;
    color: $accent-color;
}
.team-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: $title-color;
@media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
}
}
.team-list-item-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $title-color;
}
.team-list-item-position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
 }
.team-list-item-image {

@media screen and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 30px;
}
@media screen and (min-width: 1200px)  {
    width: 354px;
    margin-bottom: 30px;
}
}
.team-list {
@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }  
@media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
 } 
}

.team-list-item {
    background: $secondary-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

@media screen and (max-width: 767px) {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 30px;   
    }
}



@media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px)/2);

    &:nth-child(2n+1) {
        margin-right: 30px;
    }
    &:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;  
        }

  
}  
@media screen and (min-width: 1200px) {
    width: calc((100% - 30px*3)/4);

    &:not(:last-child) {
        margin-right: 30px;   
    }
    
}
}



