.work-example {
    padding-bottom: 94px;
}
.work-examples-list {
    display: flex;
    flex-wrap: wrap;
}
.work-examples-item {
    width: 370px;
    border: 1px solid #EEEEEE;

    &:not(:nth-child(3n)) {
        margin-right: 30px;   
    }
    &:not(:nth-last-child(-n+3)) {
        margin-bottom: 30px;  
    }
}
.work-examples-item:hover { 
    box-shadow: 1px 4px 6px 
    rgba(0, 0, 0, 0.16), 0px 4px 4px 
    rgba(0, 0, 0, 0.06), 0px 1px 1px
    rgba(0, 0, 0, 0.12);
}
.work-examples-block {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.work-examples-subtitle {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-color;
}
.work-examples-text {
    font-size: 16px;
    line-height: 1.87;
    color: $main-color;
}
.work-examples-wrapper {
    position: relative;
    overflow: hidden;
    
}
.work-examples-desc {
    position: absolute;
    top: 0;
    left: 0; 
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    color: $secondary-color;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.work-examples-item-link:hover .work-examples-desc {
    transform: translateY(0%);
    opacity: 1;
    
}