.work-direction-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $title-color;
}
.work-direction-list{
    display: flex;
}
.work-direction-list-item {
    width: calc((100% - 30px*2)/3);
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;   
    }
}
.work-direction-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-color;
    background-color: rgba(47, 48, 58, 0.8);
}